.nav__right p {
    margin: auto 20px;
}

.nav__right p a {
    text-decoration: none;
    color: inherit;
}

.container__login {
    width: 50%;
    margin: 30px auto;
    background: #fff;
    border: 2px solid lightgrey;
    min-width: 800px;
    min-height: 200px;
}

.container__login .title__login {
    padding: 15px 30px;
    border-bottom: 2px solid lightgrey;
    background: rgba(0, 0, 0, 0.05);
}

.form__content {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__content .btn__login {
    text-align: center;
}
