* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: url("../img/background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav__bar {
    position: sticky;
    top: 0;
    background: white;
}

.nav {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-width: 750px;
}

.nav__left,
.nav__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo {
    margin: 0 20px 0px 0px;
}

.nav__logo p {
    font-size: 20px;
    font-weight: bolder;
}

.nav__search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__search input {
    width: 250px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 7px 10px;
    outline: none;
}

.nav__search button,
.nav__right button {
    background: #0275d8;
    color: white;
    outline: none;
    padding: 10px 13px;
    border-radius: 5px;
    border: none;
    margin: 0 5px;
}

.nav__right button {
    margin: 0 2px;
}

.nav__right p {
    color: grey;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 2px;
    cursor: pointer;
}

.nav__right p span {
    color: black;
    float: right;
}
